__pycache__/
.ipynb_checkpoints/
.venv/
venv/
.vscode/
.idea/
.env
*.env
*.pyc
*.pyo
*.dll
*.exe
*.out
*.err
slurm-*.out
*.pt
*.pth
*.bin
*.ckpt
*.safetensors
*.npy
*.npz
site-packages/
embeddings/
clustering/
probabilities/
shards/
checkpoints/
models/
**/mappings/
**/*user_mapping*
**/raw_original/
**/raw-error-logs/
**/submissions/
**/solutions/
**/tests/input/
**/tests/output/
.DS_Store
Thumbs.db
